<html>
    <head>
        <title>G's Message Board</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
       <h2 class="index-title"><%= title %></h2>
       <ul class="message-list">
        <% messages.forEach((message) => { %>
            <li>
                <div class="message-block">
                    <span><b>User:</b> <%= message.user %></span>
                    <span><b>Message:</b> <%= message.text %></span>
                    <span><b>Date sent:</b> <%= message.added %></span>
                    <!-- HREF OPENS THAT MESSAGE ID -->
                    <a href="/messages/<%= message.id %>"><b>See Message Details</b></a>
                </div>
            </li>
        <% }) %>
       </ul>
       <a class="new-message-button" href="/new">New Message</a>
    </body>
</html>